@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,900;1,900&display=swap');
html,body {
    margin: 0;
    padding: 0;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.72) 0%, rgba(87, 87, 242, 1) 0%, rgba(130, 236, 255, 0.97) 100%);
}
img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    margin-top: -3550px;
    transition: all 0.3s;
}
img:hover{
    transform: translateY(-10.1px);
}
.wrap {
    padding: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
}

.intra{
    flex: 1;
    margin-top: -3550px;
    background: #ffffff73;
    border-radius: 20px;
    transition: all 0.3s;
}
.intra>h2{
    text-align: center;
    font-family: poppins;
    text-transform: capitalize;
}

.intra>p{
    text-align: center;
}

.intra:hover{
    transform: translateY(-20px);
    box-shadow: 0px 2px 3px #00000052;
}

.FContainer {
    width: 100%;
    height: 300vh;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    border: 3px solid rgba(209, 209, 209, 0.116);
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.123)
}

.brand {
    display: flex;
    flex-direction: row;
    margin: 5px;
    text-transform: capitalize;
}

.firstname{
    color: white;
    font-weight: 500;
    font-size: 30px
}

.lastname{
    color: rgb(46, 46, 46);
    font-size: 29px;
    font-weight: 400;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 20px;
}

.navigation >li > a{
    color: white;
    text-decoration: none;
}

.home {
    display: flex;
    transition: all 0.2s; 
    text-align: center;
}

.home:hover {
    background: rgba(255, 255, 255, 0.137);
    transform: translateY(-6px);
    color: black;
    border-radius: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.219);
}

.about {
    display: flex;
    transition: all 0.2s; 
    text-align: center;
}

.about:hover {
    background: rgba(255, 255, 255, 0.137);
    transform: translateY(-6px);
    color: black;
    border-radius: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.219);
}

.faq {
    display: flex;
    transition: all 0.2s; 
    text-align: center;
}

.faq:hover {
    background: rgba(255, 255, 255, 0.137);
    transform: translateY(-6px);
    color: rgba(0, 0, 0, 0.651);
    border-radius: 4px;
   border: 1.5px solid rgba(255, 255, 255, 0.219);
}

.wrapper:hover{
    transform: scale(1.1);
}

